<?xml version="1.0" ?>
<robot name="robot_description" xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:include filename="$(find robot_description)/urdf/materials.xacro" />
<xacro:include filename="$(find robot_description)/urdf/robot_description.ros2control" />
<xacro:include filename="$(find robot_description)/urdf/robot_description.gazebo" />

<link name="world"/>

<joint name="world_fixed" type="fixed">
  <origin xyz="0 0 0" rpy="0 0 0"/>
  <parent link="world"/>
  <child link="base_link"/>
</joint>

<link name="base_link">
  <inertial>
    <origin xyz="0.45768622613563736 -0.4368264195359295 0.4295018217497949" rpy="0 0 0"/>
    <mass value="145.80079322670187"/>
    <inertia ixx="27.178522" iyy="35.333395" izz="48.362655" ixy="-0.011589" iyz="0.792709" ixz="-0.004434"/>
  </inertial>
  <visual>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find robot_description)/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find robot_description)/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="x_link_1">
  <inertial>
    <origin xyz="0.4289999999999972 -0.07702054233668748 0.43855797782578687" rpy="0 0 0"/>
    <mass value="33.63690371299227"/>
    <inertia ixx="0.818102" iyy="5.092965" izz="4.355089" ixy="-1e-06" iyz="0.097841" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.0285 -0.0 -0.603" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find robot_description)/meshes/x_link_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.0285 -0.0 -0.603" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find robot_description)/meshes/x_link_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="y_link_1">
  <inertial>
    <origin xyz="0.04001368587856731 0.02000000000000067 0.04667235883224685" rpy="0 0 0"/>
    <mass value="0.29493075116533896"/>
    <inertia ixx="0.000339" iyy="0.000375" izz="0.000295" ixy="0.0" iyz="0.0" ixz="-0.0"/>
  </inertial>
  <visual>
    <origin xyz="0.034 0.12 -1.081" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find robot_description)/meshes/y_link_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0.034 0.12 -1.081" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find robot_description)/meshes/y_link_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="z_link_1">
  <inertial>
    <origin xyz="-0.040129346895664705 -0.02023568543439727 -0.5125000000000038" rpy="0 0 0"/>
    <mass value="22.428174832479133"/>
    <inertia ixx="1.966316" iyy="1.974575" izz="0.013623" ixy="-5e-05" iyz="0.0" ixz="-0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.046 0.1225 -1.171" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find robot_description)/meshes/z_link_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.046 0.1225 -1.171" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find robot_description)/meshes/z_link_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<joint name="x_joint" type="prismatic">
  <origin xyz="0.0285 0.0 0.603" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="x_link_1"/>
  <axis xyz="0.0 -1.0 0.0"/>
  <limit upper="0.94" lower="0.02" effort="10000" velocity="1000"/>
</joint>

<joint name="y_joint" type="prismatic">
  <origin xyz="-0.0625 -0.12 0.478" rpy="0 0 0"/>
  <parent link="x_link_1"/>
  <child link="y_link_1"/>
  <axis xyz="1.0 -0.0 -0.0"/>
  <limit upper="0.838" lower="0.065" effort="10000" velocity="1000"/>
</joint>

<joint name="z_joint" type="prismatic">
  <origin xyz="0.08 -0.0025 0.09" rpy="0 0 0"/>
  <parent link="y_link_1"/>
  <child link="z_link_1"/>
  <axis xyz="0.0 -0.0 1.0"/>
  <limit upper="0.93" lower="0.0" effort="10000" velocity="1000"/>
</joint>

</robot>
